* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background: wheat;
}

main h1 {
  font-size: 40px;
  text-align: center;
  color: white;
  margin-top: -30px;
  padding: 10px;
}

main .container {
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 100%;
}

main .container .header {
  text-align: center;
  font-size: 20px;
  padding: 20px 0 0;
}

main .container .form {
  padding: 20px 40px;
}

main .container .form .form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

main .container .form .form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

main .container .form .form-control input {
  display: block;
  width: 100%;
  border: 2px solid #b6b6b6;
  font-size: 14px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  font-family: inherit;
}

main .container .form .form-control i {
  position: absolute;
  top: 45px;
  right: 15px;
  visibility: hidden;
}

main .container .form .form-control small {
  position: absolute;
  bottom: 0px;
  left: 0;
  visibility: hidden;
}

main .container .form .success input {
  border-color: #00ff62;
}

main .container .form .success i.fa-check-circle {
  visibility: visible;
  color: #00ff62;
}

main .container .form .error input {
  border-color: #ff4242;
}

main .container .form .error i.fa-exclamation-circle {
  visibility: visible;
  color: #ff4242;
}

main .container .form .error small {
  visibility: visible;
  color: #ff4242;
}

main .container .form #btn {
  background: darkblue;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-family: inherit;
  color: white;
  cursor: pointer;
}

#display_section .headings h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  background: white;
  padding: 10px;
}

#display_section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
}

#display_section .container .player {
  background: white;
  padding: 30px;
}

#display_section .container .player #player {
  font-size: 30px;
  color: green;
}

#display_section .container .player #score {
  color: green;
  font-size: 25px;
}

#display_section .container .computer {
  background: white;
  padding: 30px;
}

#display_section .container .computer #computer {
  font-size: 30px;
  color: red;
}

#display_section .container .computer #score {
  color: red;
  font-size: 25px;
}

#computerSelect {
  margin-top: 20px;
  text-align: center;
}

#computerSelect p {
  font-size: 25px;
  color: red;
}

#botton-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

#botton-section img {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  width: 320px;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}

#botton-section img:hover {
  -webkit-transform: scale(1.2) rotate(45deg);
          transform: scale(1.2) rotate(45deg);
}

#btn1 {
  border: none;
  padding: 40px 80px;
  font-size: 18px;
  border-radius: 10px;
}

#btn2 {
  border: none;
  padding: 40px 80px;
  font-size: 18px;
  border-radius: 10px;
}

#btn3 {
  border: none;
  padding: 40px 80px;
  font-size: 18px;
  border-radius: 10px;
}

#result-section p {
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
}
/*# sourceMappingURL=styel.css.map */