*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
body{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // min-height: 100vh;
    // background: rgb(1, 1, 59);
    background: wheat;
    
}
main{
    h1{
        font-size: 40px;
        text-align: center;
        color: white;
        margin-top: -30px;
        padding: 10px;
    }
    .container{
        background: white;
        border-radius: 10px;
        box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
        width:400px;
        height: 100%;

        .header{
            text-align: center;
            font-size: 20px;
            padding: 20px 0 0;
        }
        .form{
            padding: 20px 40px;
            .form-control{
                margin-bottom: 10px ;
                padding-bottom: 20px;
                position: relative;
                label{
                    display: inline-block;
                    margin-bottom: 5px;

                }
                input{
                    display: block;
                    width: 100%;
                    border: 2px solid rgb(182, 182, 182);
                    font-size: 14px;
                    padding: 10px;
                    border-radius: 10px;
                    outline: none;
                    font-family: inherit;


                }
                
                i{
                    position: absolute;
                    top: 45px;
                    right: 15px;
                    visibility: hidden;
                }
                small{
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                    visibility: hidden;

                }

            }
            .success{

                input{
                    border-color: rgb(0, 255, 98);
                }
                i.fa-check-circle{
                    visibility: visible;
                    color: rgb(0, 255, 98);
                }
            } 
            .error {

                input{
                    border-color: rgb(255, 66, 66);
                }
                i.fa-exclamation-circle{
                    visibility: visible;
                    color: rgb(255, 66, 66);
                }
                small{
                    visibility: visible;
                    color: rgb(255, 66, 66);
                }
            }
            
            #btn{
                background: darkblue;
                border: none;
                width: 100%;
                padding: 10px;
                border-radius: 10px;
                font-size: 16px;
                font-family: inherit;
                color: white;
                cursor: pointer;
            }
        }
    }
}


// rock paper scissors css part starts

#display_section{
    .headings{
        h1{
            text-align: center;
            font-size: 30px;
            margin-top: 20px;
            background: white;
            padding: 10px;
            
        }
    }
    .container{
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
        margin-bottom: 30px;

        .player{
            background: white;
            border-radius: 10px;
            padding: 30px;

            #player{
                font-size: 30px;
                color: green;
            }
            #score{
                color: green;
                font-size: 25px;
            }
        }
        .computer{
            background: white;
            border-radius: 10px;
            padding: 30px;
            #computer{
                font-size: 30px;
                color: red;
            }
            #score{
                color: red;
                font-size: 25px;
            }
        }
    }
}
#computerSelect{
    margin-top: 20px;
    text-align: center;
    p{
        font-size: 25px;
        color: red;
    }
}
#botton-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;

    img{
        cursor: pointer;
        transform: scale(1.1);
        // width: 200px;
        transition: .5s ease-out;
        &:hover{
            transform: scale(1.2) rotate(45deg);
        }
    }
}

#btn1{
    border: none;
    // padding: 40px 80px;
    font-size: 18px;
    border-radius: 10px;
    width: 170px;

}
#btn2{
    
    border: none;
    // padding: 40px 80px;
    font-size: 18px;
    border-radius: 10px;
    width: 200px;

    

}
#btn3{
    
    border: none;
    // padding: 40px 80px;
    font-size: 18px;
    border-radius: 10px;
    width: 150px;

}
#result-section{
    p{
        text-align: center;
        margin-top: 50px;
        font-size: 30px;
    }
}
hr{
    margin-top: 30px;
}
#copy{
    text-align: center;
    p{
        margin: 10px;
    }
}
